@font-face {
  font-family: 'MarkerFelt';
  src: url('/fonts/Marker-Felt.eot');
  src: url('/fonts/Marker-Felt.eot?#iefix') format('embedded-opentype'),
  url('/fonts/Marker-Felt.woff') format('woff'),
  url('/fonts/Marker-Felt.ttf')  format('truetype'),
  url('/fonts/Marker-Felt.svg#svgFontName') format('svg');
}

.no-display {
  display: none;
}

.main-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
  }
.content-wrapper {
  min-height: 600px;
  width: 100%;
  p {
    font-family: MarkerFelt;
    font-size: 3rem;
    text-align: center;
    color: slategray;
  }
}